/*load fonts*/
@font-face {font-family:'Montserrat';font-style:normal;font-weight:400;src:url('css/fonts/montserrat-v14-latin-regular.eot');src:local('Montserrat Regular'),local('Montserrat-Regular'),url('css/fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'),url('css/fonts/montserrat-v14-latin-regular.woff2') format('woff2'),url('css/fonts/montserrat-v14-latin-regular.woff') format('woff'),url('css/fonts/montserrat-v14-latin-regular.ttf') format('truetype'),url('css/fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg');}

/*skeleton elements*/
*       {margin:0;padding:0;color:#222222;box-sizing:border-box;display:flex;}
head    {display:none;}
body    {height:100vh;width:100vw;background-color:#EEEEEE;flex-flow:column;font-family:'Montserrat';}
	
header  {background-color:#FFFFFF;border-bottom:2px solid #CCCCCC;overflow-x:auto;width:100%;font-weight:600;}
#content{flex:1;overflow-y:auto;position:relative;}
footer {background-color:#FFFFFF;border-top:1px solid #CCCCCC;align-items:center;justify-content:center;}

/*elements*/
a   {text-decoration:none;}
textarea {resize:vertical;height:100px;}

input, select {
    height:36px;padding:0 10px;color:#222222;width:100%;min-width:0px;outline:0;
    background-color:#FFFFFF00;border:none;
}
input:disabled, select:disabled {color:#CCCCCC;}
select {-moz-appearance:none;-webkit-appearance:none;appearance:none;
}
.selectWrapper::after {content:'\25BC';position:absolute;right:10px;font-size:1.3em;color:#CCCCCC;pointer-events:none;}
.selectWrapper:hover::after {font-size:1.4em;color:#999999;}
input[type=datetime-local]::-webkit-inner-spin-button,input[type=date]::-webkit-inner-spin-button,input[type=time]::-webkit-inner-spin-button
    {transform:translateY(50%);}


.inputLabel {
    padding:0 5px;margin-left:5px;color:#999999;
    background-color:#FFFFFF;font-size:0.95em;white-space:nowrap;pointer-events:none;
}
.inputWrapperTitle {font-size:0.7em;color:#999999;}
.inputWrapper {
    position:relative;border:solid 2px #CCCCCC;border-radius:10px;
    height:36px;width:100%;
}
.inputWrapper > div {
    padding:0 5px;position:absolute;top:50%;transform:translateY(-50%);
    width:90%;pointer-events:none;overflow-x:hidden;
}
.inputWrapper:focus-within>div, .inputWrapper.inputFilled>div {top:0;font-size:0.7em;width:auto;}
.inputWrapper.inputValid {border-color:#3282B8;}
.inputWrapper.inputError {border-color:#FF111177;}
.inputWrapper.disabled {display:none;}




button {
	border-radius:10px;height:36px;padding:0 10px;outline:none;
    min-width:36px;background-color:#FFFFFF;border:solid 2px #3282B8;
    display:grid;grid-auto-flow:column;grid-column-gap:10px;
}
button, button * {
    color:#3282B8;cursor:pointer;text-decoration:none;font-weight:600;font-size:0.95em;
    justify-content:center;align-items:center;text-transform:uppercase;color:#3282B8;
    white-space:nowrap;
}
button:hover, button:hover * {background-color:#3282B8;color:#FFFFFF;}
button div {display:none;}
button:hover div {display:flex;}

button.errorButton {border-color:#FF0000AA;}
button.errorButton:hover, button.errorButton:hover * {background-color:#FF0000AA;}
button.errorButton * {color:#FF0000AA;}

.closeButton {width:36px;height:36px;justify-content:center;cursor:pointer;font-size:1.25em;}
.closeButton:hover {font-weight:600;}

/*my elements*/
/*don't show scrollbar*/
header  {-ms-overflow-style:none;scrollbar-width:none;}
header::-webkit-scrollbar {display:none;}

header > * {}
header > *:nth-child(1) {flex:1;}
header > * > * {padding:20px;border-right:1px solid #CCCCCC;min-width:120px;justify-content:center;cursor:pointer;white-space:nowrap;}
header > * > *:hover {background-color:#BBE1FA;color:#FFFFFF;}
header > * > *.highlight {background-color:#3282B8;}

#wrapperMain {
    display:block;text-align:center;margin:0 auto;padding:10px 0;flex:1;overflow-y:scroll;
}
/*don't show scrollbar*/ /**/
#wrapperMain  {-ms-overflow-style:none;scrollbar-width:none;}
#wrapperMain::-webkit-scrollbar {display:none;}
/**/
main {
	min-width:40%;max-width:80vw;text-align:center;overflow-wrap:break-word;
	/*.singleColumn*/
	display:inline-grid;grid-template-columns:repeat(1,auto);grid-row-gap:10px;
}
main > *:nth-last-child(1) {margin-bottom:5px;}


/*my dimensions*/
.h100 {height:100%;}
.lh {height:36px;}
.lhSquare {height:36px;width:36px;}
.mediumSquare {height:31px;width:31px;}
.widthLh {width:36px;}
.width2Lh {width:72px;}
.width3Lh {width:108px;}
.width4Lh {width:144px;}
.width5Lh {width:180px;}
.widthLhNoBorder {width:36px;}
.width2LhNoBorder {width:72px;}
.width3LhNoBorder {width:108px;}
.width4LhNoBorder {width:144px;}
.width5LhNoBorder {width:180px;}



/*my panels*/
.singlePanel {margin-top:5px;}
.panel {
    padding:20px;text-align:left;position:relative;background-color:#FFFFFF;
    border-radius:25px 0 0 0;
}
.panel:after{
    content:'';height:25px;width:25px;background-color:#3282B8;
    z-index:-1;position:absolute;top:0;left:0;border-radius:5px;
}
.panel .panel {padding:0;}
.panel * {align-items:center;}


/*my forms*/
.form {position:relative;display:grid;grid-template-columns:repeat(1,auto);grid-row-gap:10px;}
.form .form {flex:1;border-top:solid 1px #CCCCCC;padding-top:10px;}

/*my columns*/
.singleColumn {display:grid;grid-template-columns:repeat(1,auto);grid-row-gap:10px;}



/*my rows*/
.equalRow {display:grid;grid-auto-flow:column;grid-auto-columns: 1fr;}
.singleRow {display:grid;grid-auto-flow:column;grid-column-gap:10px;}



/*my grids*/
.gridl1r2 {display:grid;grid-auto-flow:column;grid-column-gap:10px;grid-auto-columns:1fr 2fr;}
.gridl2r1 {display:grid;grid-auto-flow:column;grid-column-gap:10px;grid-auto-columns:2fr 1fr;}

.grid12 {display:grid;grid-auto-flow:column;grid-column-gap:10px;grid-template-columns: repeat(12, 1fr);}
.grid12 > * {height:100%;}

.ge1 {grid-template-columns: auto;}
.ge2 {grid-template-columns: auto auto;}
.ge3 {grid-template-columns: auto auto auto;}

.gs1 {grid-column: auto / span 1;}
.gs2 {grid-column: auto / span 2;}
.gs3 {grid-column: auto / span 3;}
.gs4 {grid-column: auto / span 4;}
.gs5 {grid-column: auto / span 5;}
.gs6 {grid-column: auto / span 6;}
.gs7 {grid-column: auto / span 7;}
.gs8 {grid-column: auto / span 8;}
.gs9 {grid-column: auto / span 9;}
.gs10 {grid-column: auto / span 10;}
.gs11 {grid-column: auto / span 11;}
.gs12 {grid-column: auto / span 12;}


/*flex*/

.flex1 {flex:1;}
.flex2 {flex:2;}
.flex3 {flex:3;}
.flexAll1 > * {flex:1;}
.flexl1r2 > *:nth-child(1), .flexl2r1 > *:nth-child(2) {flex:1;}
.flexl1r2 > *:nth-child(2), .flexl2r1 > *:nth-child(1) {flex:2;}

/* my gaps */
.pad0 {padding:0px;}
.padSmall {padding:5px;}
.padMedium {padding:10px;}
.padBig {padding:20px;}
.pad {padding:20px;}

.gridGap0 {grid-gap:0px;}
.gridGapSmall {grid-gap:5px;}
.gridGapMedium {grid-gap:10px;}
.gridGapBig {grid-gap:20px;}
.gridGap {grid-gap:10px;}

.flexGap0>*:nth-child(1), .flexGapSmall>*:nth-child(1), .flexGapMedium>*:nth-child(1), .flexGap>*:nth-child(1) 
    {margin-left:0;}
.flexGap0 > * {margin-left:0;}
.flexGapSmall > * {margin-left:5px;}
.flexGapMedium > * {margin-left:10px;}
.flexGapBig > * {margin-left:20px;}
.flexGap > * {margin-left:10px;}


/*align and justify*/
.justifyLeft, .jl {justify-content:flex-start;}
.justifyRight, .jr {justify-content:flex-end;}
.justifyCenter, .jc {justify-content:center;}
.alignTop, .at {align-items:baseline;}
.alignCenter, .ac {align-items:center;}
.alignBottom, .ab {align-items:end;}
.textAlignLeft, .tal {text-align:left;}
.textAlignRight, .tar {text-align:right;}
.textAlignCenter, .tac {text-align:center;}



/*decorate*/
.border {border:2px solid #CCCCCC;}
.borderTop {border-top:2px solid #CCCCCC;}
.borderRight {border-right:2px solid #CCCCCC;}
.borderBottom {border-bottom:2px solid #CCCCCC;}
.borderLeft {border-left:2px solid #CCCCCC;}
.borderRadius {border-radius:10px;}


/*geometry*/
.triangle {
}


/*position in position:relative parent*/
.topRight {position:absolute;top:0;right:0;}
.topLeft {position:absolute;top:0;left:0;}
.bottomRight {position:absolute;bottom:0;right:0;}
.bottomLeft {position:absolute;bottom:0;left:0;}

.topRight20 {position:absolute;top:20px;right:20px;}
.topLeft20 {position:absolute;top:20px;left:20px;}
.bottomRight20 {position:absolute;bottom:20px;right:20px;}
.bottomLeft20 {position:absolute;bottom:20px;left:20px;}


/*format text*/
.oneLine {white-space:nowrap;}
.nowrap {white-space:nowrap;}


/*font styles*/
.fs80 {font-size:0.8em;}
.fs150 {font-size:1.5em;}
.fs200 {font-size:2em;}
.fs300 {font-size:3em;}
.fw100 {font-weight:100;}
.fw600 {font-weight:600;}



.infoBar {position:absolute;min-width:100vw;top:40px;text-align:center;align-items:center;justify-content:center;}
.infoBar > * {padding:20px;background-color:#FFFFFF;border:2px solid #222222;}
.notification > * {margin:auto;display:inline-block;background-color:#FFFFFF;padding:20px;border:solid 5px #BBE1FA;min-width:40vw;max-width:70vw;}


#responseLogIcon {position:absolute;bottom:5px;right:5px;height:50px;width:50px;cursor:pointer;z-index:1;background-color:#999999;border-radius:25px;}
#responseLogIcon > * {height:100%;width:100%;}
#responseLog {position:fixed;bottom:20px;right:0px;background-color:#BBE1FA;overflow-wrap:break-word;min-width:400px;min-height:400px;border-radius:0 0 30px 0;overflow-y:auto;z-index:1;flex-direction:column;}



/*my classes*/
.hidden {display:none !important;}
.error {color:#FF111177 !important;}
.highlight {background-color:#1E90FF;color:#FFFFFF;font-weight:600;}

.click {cursor:pointer;}
.click:active {background-color:#EEEEEE;}

.lightText {color:#999999;}
.accentText {color:#3282B8;}

.lightBg {background-color:#EEEEEE;}
.accentBg {background-color:#3282B8;}

.accentBorder {border-color:#3282B8;}
.lightAccentBorder {border-color:#3282B899;}


.transparent {opacity:0;}

.padLeftRight {padding:0 10px;}






@media(max-width:768px){
	button:active {background-color:#EEEEEE;color:#CCCCCC;}
	main {min-width:100vw;max-width:100vw;border-left:5px solid #EEEEEE;border-right:5px solid #EEEEEE;}
}
